
/* START JQUERY UI */
/*
#4682B8 - blue
#A5D22D - green
#FD026C - pink
#F5CC0A - yellow
#FE8C01 - dark yellow
*/


.verifyanim {
    width: 64px;
    height: 2px;
    backgroundzzz: red;
    position: relative;
    -webkit-animation: verifyanimframe 2s infinite;
    //-webkit-animation-direction: alternate;
    animation: verifyanimframe 2s infinite;
    //animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes verifyanimframe {
    0%   {background: #1D74D7; left: 0px; top: 0px;}
    50%  {background: #1D74D7; left: 0px; top: 64px;}
    100% {background: #1D74D7; left: 0px; top: 0px;}
}

@keyframes verifyanimframe {
    0%   {background: #1D74D7; left: 0px; top: 0px;}
    50%  {background: #1D74D7; left: 0px; top: 64px;}
    100% {background: #1D74D7; left: 0px; top: 0px;}
}
				


#barcodeanim{
top: 40%;left: 0;overflow: hidden;max-width: 100%;text-align: center;z-index: 99000;pointer-events: none;position: absolute;width: 100%;	
}

.patcambox{
	border:1px solid #2688d3;
	margin-top:4px;cursor:pointer;text-decoration:none;position: relative;
}

.blinkBorder {
  animation: blink-animation 1s steps(2, start) 3;
  -webkit-animation: blink-animation 1s steps(2, start) 3;
}
@keyframes blink-animation {
  to {
		border-color: red;
  }
}
@-webkit-keyframes blink-animation {
  to {
		border-color: red;
  }
}

.patdemerricon{
		color:#CC1C1C;
		margin-left:5px;
}

.paterrdisableorder{
		opacity: 0.7;
		mouse-events: none;
}

.requiredfield input:required:invalid{
		border: 1px solid red !important;
}

.requiredfieldz input:required:valid{
		border: initial;
}

.nvcolor-lightgreen{
		color:#50C35B;
}

.nvcolor-red{
		color:#D14836;
}

.nvcolor-yellow{
		color:#ECA91B;
}

.ie-placeholder-label{
  cursor: text;
  pointer-events: none;
		position: absolute;
		color: #777777;
  z-index: 100;
  text-align: left;
  //font-size: smaller;
  overflow:hidden;
  white-space: nowrap;
}

.ie-placeholder-label span{
  vertical-align: middle;
}



.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
.ui-sortable-handle {
	-ms-touch-action: none;
	touch-action: none;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* END JQUERY UI */



body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 12px;
}
.form-signin .form-control:focus {
  z-index: 2;
}


.form-signin-small .form-control-small {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
}
.form-signin-small .form-control-small:focus {
  z-index: 2;
}


.form-signin input[type="email"] {
  margin-bottom: 1px;
}
.form-signin input[type="password"] {
  margin-bottom: 1px;
}

.form-search {
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
}


/* NAVBRAND LOGO*/

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}
@media (min-width:768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
    }
}

.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-inverse .navbar-brand {
    color: #999;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-brand, .navbar-nav>li>a {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .navbar-brand {
    font-weight: bold;
    color: #003d5f;
    position: relative;
    display: inline-block;
}
.navbar .navbar-brand .navbar-logo {
    position: absolute;
    top: 10px;
    height: 32px;
    width: 32px;
}
.navbar .navbar-brand-label {
    margin-left: 35px;
}


/* chart icons sprite */


.chartsprite {
    background-image: url('/images/charts/32x32/chart_sprite.png');
    background-repeat: no-repeat;
    display: block;
}

.chartsprite-3d-doughnut {
    width: 34px;
    height: 34px;
    background-position: -1px -1px;
}

.chartsprite-3d-pie {
    width: 34px;
    height: 34px;
    background-position: -35px -1px;
}

.chartsprite-3d-pyramid {
    width: 34px;
    height: 34px;
    background-position: -69px -1px;
}

.chartsprite-3d-torus {
    width: 34px;
    height: 34px;
    background-position: -103px -1px;
}

.chartsprite-area {
    width: 34px;
    height: 34px;
    background-position: -137px -1px;
}

.chartsprite-area-spline {
    width: 34px;
    height: 34px;
    background-position: -1px -35px;
}

.chartsprite-area-stacked {
    width: 34px;
    height: 34px;
    background-position: -35px -35px;
}

.chartsprite-area-stacked-full {
    width: 34px;
    height: 34px;
    background-position: -69px -35px;
}

.chartsprite-area-stacked-spline {
    width: 34px;
    height: 34px;
    background-position: -103px -35px;
}

.chartsprite-area-stacked-spline-full {
    width: 34px;
    height: 34px;
    background-position: -137px -35px;
}

.chartsprite-bar {
    width: 34px;
    height: 34px;
    background-position: -1px -69px;
}

.chartsprite-bar-range {
    width: 34px;
    height: 34px;
    background-position: -35px -69px;
}

.chartsprite-bar-stacked {
    width: 34px;
    height: 34px;
    background-position: -69px -69px;
}

.chartsprite-bar-stacked-full {
    width: 34px;
    height: 34px;
    background-position: -103px -69px;
}

.chartsprite-bar-stacked-side-by-side {
    width: 34px;
    height: 34px;
    background-position: -137px -69px;
}

.chartsprite-bubble {
    width: 34px;
    height: 34px;
    background-position: -1px -103px;
}

.chartsprite-doughnut {
    width: 34px;
    height: 34px;
    background-position: -35px -103px;
}

.chartsprite-financial-candle {
    width: 34px;
    height: 34px;
    background-position: -69px -103px;
}

.chartsprite-financial-high-low {
    width: 34px;
    height: 34px;
    background-position: -103px -103px;
}

.chartsprite-funnel {
    width: 34px;
    height: 34px;
    background-position: -137px -103px;
}

.chartsprite-gantt {
    width: 34px;
    height: 34px;
    background-position: -1px -137px;
}

.chartsprite-line {
    width: 34px;
    height: 34px;
    background-position: -35px -137px;
}

.chartsprite-line-fast {
    width: 34px;
    height: 34px;
    background-position: -69px -137px;
}

.chartsprite-pie {
    width: 34px;
    height: 34px;
    background-position: -103px -137px;
}

.chartsprite-point {
    width: 34px;
    height: 34px;
    background-position: -137px -137px;
}

.chartsprite-pyramid {
    width: 34px;
    height: 34px;
    background-position: -171px -1px;
}

.chartsprite-scatter-line {
    width: 34px;
    height: 34px;
    background-position: -171px -35px;
}

.chartsprite-spline {
    width: 34px;
    height: 34px;
    background-position: -171px -69px;
}

.chartsprite-step-line {
    width: 34px;
    height: 34px;
    background-position: -171px -103px;
}

.rotate-90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.searchAUCselected {
    background-color:#3b88c3; /*#ADD8E6;*/
    color:white;
}


.GrowlNotifyBar {
	position:absolute;
	z-index: 999;
	text-align:center;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.GrowlNotifyMsg {
	background-color: #4c74c3;
	color: white;
	padding: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	font-weight: nbold;
}

#buttonSearchOptions {
	opacity: 0.6;
}

#buttonSearchOptions:hover {
	opacity: 1.0;
}

.smHeaderLabel {
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "";
}

.tdTestsCart {
	border-bottom: 2px solid white;
	vertical-align: middle !important;
}

.tdDxCart {
	border-bottom: 2px solid white;
	vertical-align: middle !important;
}

.textellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



@-webkit-keyframes BORDERFLASHRED-FRAMES {
    0%   { border-color: transparent }
    50%  { border-color: red }
    100% { border-color: transparent }
}

.borderFlashRed2 {
    border: 1px solid transparent;

    -webkit-transition: all 1s;
    -webkit-animation: BORDERFLASHRED-FRAMES 2s 2;
}

.borderFlashRedInfinite {
    border: 4px solid transparent;

    -webkit-transition: all 1s;
    -webkit-animation: BORDERFLASHRED-FRAMES 2s infinite;
}

.borderStaticYellow {
    border: 4px solid yellow;
}


@media (max-width: 767px)  {

	.home-divcols{
		text-align:left;
		padding-top:10px;
		padding-bottom:0px;
	}

	.home-divmodule-master{
		display:inline-flex;
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}

	.home-divmodule-item{
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 0px;
			margin-bottom: 0px;
	}

}


@media (min-width: 768px)  {

	.home-divcols{
		 text-align:center;
		 padding-bottom:20px;
		 padding-top:20px;
	}

	.home-divmodule-master{
		display:inline-block;
	}

	.home-divmodule-item{
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 0px;
			margin-bottom: 20px;
	}

}


.form-control::-ms-clear,
.form-control::-ms-reveal{
    display: none; //hides the X button in the IE text box
}


//This is for scheduled time control
/*for firefox*/
.form-control[data-key="perftime"]::-moz-selection {
    background:#B5D5FF;
}

/*for everything else*/
.form-control[data-key="perftime"]::selection {
    background:#B5D5FF;
}


.outputactionbox{
   background-color:rgba(0,0,0,0.6);//#797878;
   cursor: pointer;
   padding:10px;
   color:white;
   border-radius: 3px;

}

.outputactionbox:hover{
   background-color:rgba(0,0,0,0.8);
   border:1px solid rgba(0,0,0,0.8);
}

.outputactionbox>i{
			width: 1em;
}

.ordconfbox{
			background-color:#FFFFFF;
}

.ordconfbox:hover{
			background-color:#F0F2EA;
}

.ordconfbox>.ordconfbox-actbar{
			opacity:0.5;
}

.ordconfbox:hover>.ordconfbox-actbar{
			opacity:1;
}


.foldbr:hover {
		position: relative;
		//background: #F0F2EA;
		overflow: hidden;
}

.foldbr:hover:before {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		background: #FFFFFF;
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
		box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
		display: block;
		width: 0;
		border-top: 16px solid #66B34C;
		border-right: 16px solid rgba(255, 255, 255, 0);
}

.recurGroupHover{
		background-color: rgb(255, 255, 68) !important;
}


.arrowmore-masterdiv {
		vertical-align: top;
		display: inline-block;
		width: 100%;
		padding-left: 18px;
		padding-top: 5px;
		line-height: 2em;
		cursor:pointer;
}

.arrowmore-wrap {
 // position:absolute;
  z-index:1;
  left:50%;
  top:-5em;
  margin-left:-1em;
  background:#A8C7C8;
  width:4em;
  height:4em;
  padding:1.8em 1em;
  border-radius:50%;
  font-size:0.5em;
  display:inline-block;
}

.arrowmore {
  float:left;
  //position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 1em 1em 0 1em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrowmore:after {
  content:'';
  position:absolute;
  top:-1.2em;
  left:-1em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 1em 1em 0 1em;
  border-color: #A8C7C8 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.fliparrowmore {
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		padding: 1.5em 1em;
}

.avatarRadioBtn {
		display: none !important;
}

.avatarRadioBtn:checked + label > img {
  border: #306BA5;
  border-width: 2px;
  border-style: solid;
}

.avatarRadioBtn + label > img {
		border: transparent;
		  border-width: 2px;
		  border-style: solid;
}

.avatarLabel img {
		cursor: pointer;
}

.aucdiv {
		cursor: pointer;
		font-sizezzz: medium;
}

#oe-search-container {
		text-align:center;
		vertical-align:middle;
		position:absolute;
		top:30%;
		right:0;
		left:0;
}


	#div-auditnotice {
			padding-left:240px; position: absolute; bottom: 35px; width: 100%; height: 30px; color: #777;
	}


@media (max-width: 767px)  {

	.aucdiv {
			font-size: large;
	}

	#pat-search-form {
			padding-left: 0px;
			padding-right: 0px;
	}

	.pushsearchtotop {
			top: inherit !important;
	}

	#div-auditnotice {
			padding-left:20px;
	}

}


#oe-search-containerzzz {
		top: inherit;
}



.fadeOutFont-tr {
    color:yellow;
    animation: fadeOutEffectFONTTR 1s forwards;
    animation-delay: 0.1s;
    -moz-animation: fadeOutEffectFONTTR 1s forwards;
    -moz-animation-delay: 0.1s;
    -webkit-animation: fadeOutEffectFONTTR 1s forwards;
    -webkit-animation-delay: 0.1s;
    -o-animation: fadeOutEffectFONTTR 1s forwards;
    -o-animation-delay: 0.1s;
}

@keyframes fadeOutEffectFONTTR {
    to {
        color:inherit;
    }

}
@-moz-keyframes fadeOutEffectFONTTR {
    to {
        color: inherit;
    }
}
@-webkit-keyframes fadeOutEffectFONTTR {
    to {
        color: inherit;
    }
}
@-o-keyframes fadeOutEffectFONTTR {
    to {
        color: inherit;
    }
}



.fadeOutBackground-tr {
    background-color:yellow;
    animation: fadeOutEffectBGTR 1s forwards;
    animation-delay: 0.1s;
    -moz-animation: fadeOutEffectBGTR 1s forwards;
    -moz-animation-delay: 0.1s;
    -webkit-animation: fadeOutEffectBGTR 1s forwards;
    -webkit-animation-delay: 0.1s;
    -o-animation: fadeOutEffectBGTR 1s forwards;
    -o-animation-delay: 0.1s;
}

@keyframes fadeOutEffectBGTR {
    to {
        background-color:transparent;
    }

}
@-moz-keyframes fadeOutEffectBGTR {
    to {
        background-color: transparent;
    }
}
@-webkit-keyframes fadeOutEffectBGTR {
    to {
        background-color: transparent;
    }
}
@-o-keyframes fadeOutEffectBGTR {
    to {
        background-color: transparent;
    }
}




/* ---------------------------- */

.lr-a-L1:after {
		content: "Logged In";
}

.lr-a-L2:after {
		content: "Logged Out";
}

.lr-a-L3 {
	 background:linear-gradient( to right, #95C0F9 0%, #95C0F9 80%, white 80%, transparent 100% ) !important;
}

.lr-a-L3:after {
		content: "Changed Password";
}

.lr-a-L4 {
  background:linear-gradient( to right, #F7F73D 0%, #F7F73D 80%, white 80%, transparent 100% ) !important;
}

.lr-a-L4:after {
		content: "Password Reset Request";
}

.lr-a-L5:after {
		content: "Login Inactivated";
}

.lr-a-S:after {
		content: "Search";
}

.lr-a-PV:after {
		content: "Viewed Patient";
}

.lr-a-PU:after {
		content: "Updated Patient";
}

.lr-a-PN:after {
		content: "Created Patient";
}

.lr-a-PD {
		background:linear-gradient( to right, #FF322D 0%, #FF322D 80%, white 80%, transparent 100% ) !important;
		color:white;
}

.lr-a-PD:after {
		content: "Deleted Patient";
}

.lr-a-PUND:after {
		content: "Undo Delete Patient";
}

/* ---------------------------- */

a.revpill:hover {
		background-color:#428BCA !important;
		color:white;
}

#revision-table>tbody>tr>td {
  padding-top: 15px;
  padding-bottom: 15px;
}

#revision-table>tbody>tr>td.old {
  //text-decoration: line-through;
  color: gray;
}

#rpt-table>tbody>tr>td:not(:first-child) {
  text-align: center;
}

#rpt-table>tbody>tr>td {
  border: 0px;
}

.rev-nvfname:after {
		content: "First Name";
}
.rev-nvlname:after {
		content: "Last Name";
}
.rev-nvmname:after {
		content: "Middle Name";
}
.rev-nvdob:after {
		content: "DOB";
}
.rev-nvgender:after {
		content: "Gender";
}
.rev-nvphone:after {
		content: "Phone";
}
.rev-nvemail:after {
		content: "Email";
}
.rev-nvssn:after {
		content: "SSN";
}
.rev-nvaddr1:after {
		content: "Addr1";
}
.rev-nvaddr2:after {
		content: "Addr2";
}
.rev-nvcity:after {
		content: "City";
}
.rev-nvstate:after {
		content: "State";
}
.rev-nvzip:after {
		content: "Zip";
}
.rev-nvactive:after {
		content: "Active";
}
.rev-nvactiverea:after {
		content: "Del/Undel Reason";
}
.rev-nvaliasname:after {
		content: "Alias";
}
.rev-nvmarital:after {
		content: "Marital";
}
.rev-nvrace:after {
		content: "Race";
}

.boldsmallcaps{
		font-weight: bold;
  font-family: sans-serif;
  color:#7E7B7B;
  font-size: small;
}

.tdTestsCart select:focus{
	background-color: white !important;
}

.testpriority.stat{
	background-color: #efe037 !important;
}

.search-filter-tags > span > a{
	text-transform: none;
	text-decoration: none;
	padding: 5px;
	background-color: rgb(231, 231, 250);
	border-radius: 2px;
	cursor: pointer;
}

.search-filter-tags > span > a:hover > .close-filter-tags{
	color: rgb(236, 64, 64);
}

.close-filter-tags{
		font-size: medium;
  vertical-align: middle;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgb(244, 244, 244);
  margin-left: 6px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	//margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.divStrikethrough {
    position: relative;  
}

.divStrikethrough:after {
  position: absolute;
  left: 0;
  top: 60%;
  height: 1px;
  background: #c00;
  content: "";
  width: 100%;
  display: block;
}



.flippanel {
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}
.flippanel .front {
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.flippanel.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flippanel .back {
    z-index: 800;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-179deg);
    /* setting to 180 causes an unnatural-looking half-flip */
    
    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.flippanel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
}



img[data-dismiss="modal"] { 
    opacity: 0.5;
    padding: 5px;
}
img[data-dismiss="modal"]:hover { 
    opacity: 1;
}



/* custom inclusion of left bootstrap tabs */

.tabs-left > .nav-tabs > li.active > a{
		border-left: 2px solid rgb(231, 102, 35);
  opacity:1;
}
.tabs-left > .nav-tabs > li.active > a:hover,
.tabs-left > .nav-tabs > li.active > a:focus{
		border-left: 2px solid rgb(231, 102, 35);
}

.tabs-left > .nav-tabs > li.active:hover{
		border-right: 0px solid white;
}
.tabs-left > .nav-tabs > li > a:hover{
		background-color: white;
		border: 1px solid white;
		//border-right: 1px solid darkgray;
		color: inherit;
		opacity:1;
}

.tabs-left > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li:hover{
		border-right: 3px solid darkgray;
		background-color: white;
}

.tabs-left > .nav-tabs > li > a {
  color: inherit;
  opacity:0.5;
  margin-right: 0;
  margin-bottom: 1px;
}


.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
}

.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 30px;
  border-right: 1px solid #ddd;
  min-width: 53px;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

ul.paymentlist{
		max-width: 100%;
		width: inherit;
		display: inline-block;
		padding: 0px;
  border-bottom: 1px solid white;
		overflow-y: auto;
		height: 100%;
		color: white;
}

ul.paymentlist > li{
  display: block;
  background: #74D396; //#94DDAE; //#A5D22D;
  padding: 10px;
  cursor: pointer;
  border-left: 4px solid transparent;//rgb(20, 155, 20);
  border-bottom: 1px solid white;
  font-size: small;
}

ul.paymentlist > li:hover{
  border-left: 4px solid #FE8C01;
  background: #94DDAE;
}

ul.paymentlist > li.selected{
  background: #6299CA;
  border-left: 4px solid #4280B8;
}

ul.paymentlist > li.selected > div{
  font-weight: bold;
}

ul.paymentlist > li.selected > div.checkbox{
  visibility: visible !important;
}


.boldstyle{
		font-weight: bold;
}

.coloralice{
		background-color: rgb(220, 230, 249);
}

.wc-thumbnail{
		height: 40px;
		width: 40px;
		z-index: 1000;
		position: absolute;
		top: 0;
		left: 0;
}

button.btn.bg-primary > span.glyphicon {
		color: white;
}

.moduleaccess > li > label > input[type="radio"]+span{
		font-weight: normal;
		vertical-align: text-bottom;
}
.moduleaccess > li > label > input[type="radio"]:checked+span{
		font-weight: bold;
		vertical-align: text-bottom;
}


.pendulum{
		width: 256px;
		height: 256px;
		
  -webkit-animation-name: pendulumFrames , pendulumFramesInfinite ;
  -webkit-animation-delay: 0s, 2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-direction: linear;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-timing-function:ease-in-out;


  -ms-animation-name: pendulumFrames , pendulumFramesInfinite ;
  -ms-animation-delay: 0s, 2s;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: 1, infinite;
  -ms-animation-direction: linear;
  -ms-transform-origin:50% 50%;
  -ms-animation-timing-function:ease-in-out;


  animation-name: pendulumFrames , pendulumFramesInfinite ;
  animation-delay: 0s, 2s;
  animation-duration: 2s;
  animation-iteration-count: 1, infinite;
  animation-direction: linear;
  transform-origin:50% 50%;
  animation-timing-function:ease-in-out;
  
}

@-webkit-keyframes pendulumFrames {
  0%   { -webkit-transform: rotate(0deg); }
  25%   { -webkit-transform: rotate(200deg); }
  50%   { -webkit-transform: rotate(170deg); }
  75%   { -webkit-transform: rotate(200deg); }
  100%   { -webkit-transform: rotate(170deg); }
}
@-ms-keyframes pendulumFrames {
  0%   { transform: rotate(0deg);}
  25%   { transform: rotate(200deg); }
  50%   { transform: rotate(170deg); }
  75%   { transform: rotate(200deg); }
  100%   { transform: rotate(170deg); }
}

@-webkit-keyframes pendulumFramesInfinite {
  0%   { -webkit-transform: rotate(170deg); }
  25%   { -webkit-transform: rotate(200deg); }
  50%   { -webkit-transform: rotate(170deg); }
  75%   { -webkit-transform: rotate(200deg); }
  100%   { -webkit-transform: rotate(170deg); }
}
@-ms-keyframes pendulumFramesInfinite {
  0%   { -ms-transform: rotate(170deg); }
  25%   { -ms-transform: rotate(200deg); }
  50%   { -ms-transform: rotate(170deg); }
  75%   { -ms-transform: rotate(200deg); }
  100%   { -ms-transform: rotate(170deg); }
}


.userlist > ul > li {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
}

.shareuserpill-a{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}


/*INTELLIGENCE*/

.intel-nav-sidebar ul li{
		margin-top: 0px !important;
}

.intbox{
  padding-bottom: 20px;
  border-bottom: 3px solid transparent;
}

.intbox:hover{
  border-bottom: 3px solid lightblue;
  background-color: #F5CC0A;
}


.vizdimension .popover-content ul > li:not(.dropdown-header){
		padding:0px;
		padding-left:10px;
		cursor: pointer;
		white-space: nowrap;
}

.vizdimension .popover-content ul > li:not(.dropdown-header):hover{
		background-color: #428bca;
		color:#ffffff;
}

.vizbaseseries .popover-content ul > li:not(.dropdown-header){
		padding:0px;
		padding-left:10px;
		cursor: pointer;
		white-space: nowrap;
}

.vizbaseseries .popover-content ul > li:not(.dropdown-header):hover{
		background-color: #428bca;
		color:#ffffff;
}

.vizdimensionoptions .popover-content ul > li:not(.dropdown-header){
		padding:0px;
		padding-left:10px;
		cursor: pointer;
		border-left: solid transparent 7px;
}

.vizdimensionoptions .popover-content ul > li:not(.dropdown-header):hover{
		background-color: #428bca;
		color:#ffffff;
}

#modal-vizsettings ul > li{
		padding:0px;
		padding-left:10px;
		cursor: pointer;
		border-left: solid transparent 12px;
		-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;		
}

#modal-vizsettings ul > li:hover{
		background-color: #6CA8DC;
		color:#ffffff;
}

#modal-vizsettings-datatable ul > li{
		padding:0px;
		padding-left:10px;
		cursor: pointer;
		border-left: solid transparent 12px;
		-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;		
}

#modal-vizsettings-datatable ul > li:hover{
		background-color: #6CA8DC;
		color:#ffffff;
}

.mvliselect{
		background-color: #3473A9 !important;
		color:#ffffff;
		/*border-left: solid #ff7f0e 7px !important;*/
		border-left: solid transparent 7px;
}

.dts{
		-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.li-disabled{
		pointer-events: none;
		color: #CACACA;
}

.chart-hori-divider{
		background-color: transparent;
		height: 6px;
		cursor: row-resize;
		z-index: 1001;
		position: absolute;
}

.chart-hori-divider:hover{
		background-color: #D6D4D4;
}

.chart-hori-divider:active{
		background-color: #D6D4D4;
}

.chart-verti-divider{
		background-color: transparent;
		width: 6px;
		cursor: col-resize;
		z-index: 1001;
		position: absolute;
}

.chart-verti-divider:hover{
		background-color: #D6D4D4;
}

.chart-verti-divider:active{
		background-color: #D6D4D4;
}



.charttofullscreen{
		position: fixed !important;
		left: 0px !important;
		top: 0px !important;
		height: 100% !important;
		width: 100% !important;
		z-index: 2000 !important;
		background-color: white !important;
		margin: 0px !important;
    padding: 20px;
}

.chartdropregion-left{
		top: 0;
		left: 0;
		bottom: 0;
		width: 30%;
		position: absolute;
		opacity: 0.3;
}

.chartdropregion-right{
		top: 0;
		right: 0;
		bottom: 0;
		width: 30%;
		position: absolute;
		opacity: 0.3;
}

.chartdropregion-bottom{
		right: 0;
		left: 0;
		bottom: 0;
		height: 30%;
		position: absolute;
		opacity: 0.3;
}

.chartdropregion-top{
		top: 0;
		left: 0;
		right: 0;
		height: 30%;
		position: absolute;
		opacity: 0.3;
}

.chartdropregion-full{
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		opacity: 0.3;
}

.chartdropregion-base{
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		background-color: transparent;
}

.maximize-chartbox{
		top: 10px !important;
		left: 0px !important;
		bottom: 0px !important;
}


/*
------------------------------------------------------------------
nvd3 overrides 
------------------------------------------------------------------
*/
.tick line {
  display: none;
}

.nvd3-nolegend{
		left: 10px !important;
		right: 10px !important;
		bottom: 10px !important;
}


.nvtooltip {
		-webkit-border-radius: 0px !important;
		-moz-border-radius: 0px !important;
		border-radius: 0px !important;
		border-color: #ddd !important;
}

.nvd3 .nv-candlestickBar, .nv-pie .nv-slice path, .nv-area, .nv-areaWrap path, .nv-ticks rect, .nvd3 .nv-discretebar .nv-groups rect, .nvd3 .nv-multibar .nv-groups rect, .nvd3 .nv-multibarHorizontal .nv-groups rect {
    fill-opacity: .95 !important;
}

.nvd3 .nv-candlestickBar, .nv-pie .nv-slice path:hover, .nv-area, .nv-areaWrap path:hover,  .nv-ticks rect:hover, .nvd3 .nv-discretebar .nv-groups rect:hover, .nvd3 .nv-multibar .nv-groups rect:hover, .nvd3 .nv-multibarHorizontal .nv-groups rect:hover {
    fill-opacity: 1 !important;
    strokezzz: #3A3939 !important;
    stroke-widthzzz: 1px !important;
    stroke-opacityzzz: 1;
    cursor: pointer;
}




/*
------------------------------------------------------------------
leafletjs overrides 
------------------------------------------------------------------
*/

.leaflet-bar a:first-child {
		border-top-left-radius: 0px !important;
		border-top-right-radius: 0px !important;
}

.leaflet-bar a:last-child {
		border-bottom-left-radius: 0px !important;
		border-bottom-right-radius: 0px !important;
		border-bottom: none !important;
}


rect.bordered {
		stroke: #E6E6E6;
		stroke-width:2px;   
}

text.mono {
		font-size: 9pt;
		font-family: Consolas, courier;
		fill: #aaa;
}

text.axis-workweek {
		fill: #000;
}

text.axis-worktime {
		fill: #000;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#ulsorttabs{
		list-style-type: none;
		cursor: move;
}

#ulsorttabs > li{
		padding: 5px;
		border: 1px solid #CCC;
		margin: 2px;
		width: 200px;
		background-color:white;
}


#modal-searchtemplates > .modal-content{
		border: 2px solid #888888;
}

#modal-searchtemplates > .modal-header{
		border-bottom: 1px solid #D0D0D0; padding: 10px; padding-left:20px; font-size: large; background-color: #E8E8E8;
}

#modal-searchtemplates > .tab-content{
		display: block;margin-left: 210px;
}

#vt-basiccharts  li {
		border: 1px solid lightblue;float:left;margin: 20px;
}

#vt-basiccharts  li > a {
		cursor:pointer;
}

#vt-basiccharts  li > a > div {
		width:100px; height:100px; text-align: center;position:relative;
}

#vt-basiccharts  li > a > div > span{
		position: absolute;height: 100px;width: 100px;background-color: lightblue;opacity: 0;left: 0px;
}

#vt-basiccharts  li > a > div > span:hover{
		position: absolute;height: 100px;width: 100px;background-color: lightblue;opacity: 0.75;left: 0px;
}

#vt-basiccharts  li > a > div > span > button{
		margin-top: 33px; color:white; background-color:#D60F0F;
}

#vt-basiccharts  li > a > div > img{
		margin-top: 18px;
}

#vt-basiccharts  li > a > div > img{
		margin-top: 18px;
}

#vt-search .template-result .stres-cap > span > .fa-star,.fa-star-o {
		display: none!important;
		cursor:pointer;
}

#vt-search .template-result:hover .stres-cap > span > .fa-star-o {
		display: inherit!important;
}

#favorites-template-container .stres-cap > span > .fa-star {
		display: inherit!important;
		cursor:pointer;
}

#vt-categories ul > li{
		cursor:pointer;
}

.nv-point {
    stroke-opacity: 1!important;
    stroke-width: 5px!important;
    fill-opacity: 1!important;
}

.nv-elems-opaque rect{
		opacity: 0.3;
}

.nv-elems-opaque .nv-point{
		opacity: 0.3;
}

.nv-elems-opaque .nv-slice{
		opacity: 0.3;
}

.nv-elems-not-opaque{
		opacity: 1!important;
}

.leaflet-control-layers-expanded{
		padding: 6px 10px 3px 6px !important;
}

.leaflet-control-layers{
		border-radius:0px !important;
}

.mapinfohover{
    z-index: 1001;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 90%;
    min-width: 150px;
    color: gray;
}

.mapinfohover ul {
		margin-top: 15px;
  list-style: none;
  padding-left: 0;
}
.mapinfohover li {
  display: flex;
}
.mapinfohover .swatch {
  width:20px;
  height:20px;
  float:left;
  margin-right:10px;
  }


.maplegendtop{
    z-index: 100;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px 5px 10px;
    font-size: 90%;
    min-width: 150px;
}

.maplegendtop .lhead{
		color: gray;
		padding-bottom:5px;
}

.maplegendtop .city{
		font-weight: bold;
}

.maplegendtop .zip{
		font-weight: bold;
}



.anomalybox{
		overflow: hidden;
		border: 1px solid #B0C4DE;
		box-shadow: #e6e6e6 2px 2px 3px;
		min-height: 100px;
		cursor:pointer;
		color: #505050
}


.anomalybox.typered{
		border-left: 3px solid #F32B2B !important;
}
.anomalybox.typered .statusicon{
		color:#F32B2B;
}

.anomalybox.typeblue{
		border-left: 3px solid #397BD0 !important;
}
.anomalybox.typeblue .statusicon{
		color:#397BD0;
}

.anomalybox.typeyellow{
		border-left: 3px solid #EFB22A !important;
}
.anomalybox.typeyellow .statusicon{
		color:#EFB22A;
}

.anomalybox.typegreen{
		border-left: 3px solid #49CC49 !important;
}
.anomalybox.typegreen .statusicon{
		color:#49CC49;
}




.anomalybox .cright{
		float:right;
		min-width: 50px;
		text-align: -webkit-center;
}

.anomalybox .cleft{
		overflow:hidden;
}

.anomalybox .footer{
		bottom:0;
		text-align: center;
		visibility:hidden;
}

.anomalybox.unread{
		border:1px solid #6485AF;
		background-color: #F7FBFF;
		/*#F2F8FF;*/
		box-shadow: #e6e6e6 4px 4px 3px;
}

.anomalybox.unread span.timestamp{
		font-weight: bold;
}

.anomalybox.unread span.subject{
		font-weight: bold;
}

.anomalybox.unread span.description{
		font-weight: bold;
}

.anomalybox:hover.snippet .footer{
		visibility: visible;
}

.anomalybox.unread .fa-envelope{
		visibility: visible!important;
}

.dhheatvaltext{
		pointer-events:none;
}

#myaccounts-container .active .rarr_NOT_IN_USE{
    position: absolute;
    z-index: 100;
    right: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 38.5px 0 38.5px 10px;
    border-color: transparent transparent transparent #428BCA;
}

#myaccounts-container .active{
		background-color: #428BCA;
		color: white;
}

@media (max-width: 767px)  {
		#crm-core-container #ClientName{
				width:100% !important;
		}
		#crm-core-container .crmnav{
				margin-left:10px !important;
		}
		#crm-core-container #dashboard-chartarea{
				margin-left:0px !important;
		}
		#crm-core-container #client-metrics{
				padding: 20px 0 0 0px !important;
		}
		#crm-core-container #basic-charts{
				padding: 20px 0px 0 !important;
		}
		#crm-core-container #client-metrics #boxes{
				padding-right: 20px !important;
		}
		#crm-core-container #client-metrics #boxes div{
				margin-top: 10px !important;
		}
}

#health-container .healthbox{
		float: left;border-bottom: 1px solid #fff;border-right: 1px solid #fff;cursor:pointer
}

#health-container .healthbox.smallbox{
		width:25px;height:25px;text-align: center;position: relative;color: #fff;
}
#health-container .healthbox.smallbox .mt{
		visibility:hidden;
}
#health-container .healthbox.smallbox .cn{
		visibility:hidden;
}

#health-container .healthbox.mediumbox{
		width:50px;height:50px;text-align: center;position: relative;color: #fff;
}
#health-container .healthbox.mediumbox .mt{
		position: absolute;width: 100%;top: 30%;font-weight: bold;
}
#health-container .healthbox.mediumbox .cn{
		visibility:hidden;
}

#health-container .healthbox.largebox{
		width:85px;height:85px;text-align: center;position: relative;color: #fff;
}
#health-container .healthbox.largebox .mt{
		position: absolute;width: 100%;top: 30%;font-weight: bold;
}
#health-container .healthbox.largebox .cn{
		font-size: 12px;position: absolute;bottom: 0;width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		padding: 0 5px;
}

#health-container .healthbox.poor{
		background-color:#BA3B2F;
}
#health-container .healthbox.warn{
		background-color:#E1A100;
}
#health-container .healthbox.good{
		background-color:#2C816E;
}



#smarttable-mastertbl thead td{
padding: 2px 0px 2px 5px;
}

#smarttable-mastertbl thead td.sortable{
cursor:pointer;
}

#smarttable-mastertbl tbody td a{
text-decoration: none;color: inherit;
}

#smarttable-mastertbl tbody td{
padding: 10px 0px 10px 5px!important;
}

#smarttable-mastertbl tbody td.condensed{
padding: 5px 0px 5px 5px!important;
}

#smarttable-mastertbl thead td:not(:last-child) div{
border-right: 1px solid lightgray;
}

#smarttable-mastertbl td div{
white-space: nowrap;
overflow: hidden;
}

#smarttable-mastertbl tbody tr:hover{
background-color: #428BCA;
cursor:pointer;
color:#fff;
}

#smarttable-mastertbl tbody tr.inactive{
font-style:italic;
text-decoration: line-through;
color:#C3C3C3;
}

#smarttable-bottom div span {
		display: table-cell;
		text-align: center;
}
#smarttable-bottom div span a {
		cursor:pointer;
}
#smarttable-bottom span.active{
border: 1px solid #9292DE;
}
#smarttable-bottom span.active a{
font-weight: bold;
color: blue;
}

#smarttable-tblparentdiv .JCLRgrip.dragging{
margin-left: -2px;
background-color: #ACBCDA;
width: 1px;
}

input[type=checkbox].chkboxstyle {
display:none;
}
 
input[type=checkbox].chkboxstyle + label
{
background: url(/images/miscellaneous/g_checkbox_off.png);
margin: 0px;
height: 16px;
width: 16px;
vertical-align: middle;
}
input[type=checkbox]:checked.chkboxstyle + label
{
background: url(/images/miscellaneous/g_checkbox_on.png);
margin: 0px;
height: 16px;
width: 16px;
vertical-align: middle;
}

.crmclientlist .td-clientpriority:hover .editclientpriority{
    display: block!important;
    visibility: visible!important;
}

.crmclientlist .td-clientpriority:hover .clientpriority{
    display: none!important;
    visibility: hidden!important;
}

.crmcaserespdanger{
    color: white;
    background: #e44c3e;
}

.mce-btn, .mce-container-body{
   background-color: white !important;
}
.mce-tinymce, .mce-container{
	border-width: 0px !important;
}

.mce-toolbar-grp{
  padding: 0 0 1px 0 !important;
}

.mce-container-body .mce-txt{
	color: #333 !important;
}

.predicted-bar{
	fill: rgba(255, 7, 0, 0.9)!important;
	stroke: black!important;
	stroke-width: 1!important;
	stroke-dasharray: 5,2!important;
	stroke-opacity: 1!important;
}

.predicted-bar-point{
	fill: rgba(255, 7, 0, 0.9)!important;
	stroke: black!important;
	stroke-width: 1!important;
	stroke-dasharray: 5,2!important;
	stroke-opacity: 1!important;
}

.disable-HTML-textselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}